<%= turbo_frame_tag "modal" %>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-xl">To Do lists</h1>
  <div class="mt-4">
    <%= link_to "New To Do list", new_to_do_list_path, class: "px-4 py-2 bg-blue-600 text-white rounded", data: { turbo_frame: "modal" } %>
  </div>
</div>
<div class="flex gap-5 my-5 w-full flex-wrap justify-center" id="to_do_lists">
  <%= render @to_do_lists %>
</div>
