<div class="flex justify-between items-center">
  <h1 class="font-bold text-xl">Your templates</h1>
</div>
<div class="flex gap-5 my-5 w-full flex-wrap justify-center" id="to_do_lists">
  <%= render @templates %>
</div>
