<%= render 'shared/modal', title: "New Template" do %>
  <%= form_with(model: @template, url: templates_path(to_do_list_id: @to_do_list), class: "mb-7") do |form| %>
    <%= form.text_field :title, placeholder: "Title", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
    <div class="flex justify-end w-full">
    <%= form.submit "Save", class: "px-4 py-2 my-2 bg-blue-600 text-white rounded cursor-pointer" %>
  </div>
  <% end %>
<% end %>  
