<div class="mb-5">
  <%= form.text_field :title, placeholder: "Title", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
  <%= form.text_area :description, placeholder: "Description", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
  <%= form.submit "Save", class: "px-4 py-2 my-2 bg-blue-600 text-white rounded cursor-pointer" %>
</div>