<%= render 'shared/modal', title: "New To Do list" do %>
  <div class="w-1/2">
    <%= form_with(model: @to_do_list, class: "mb-7") do |form| %>
      <%= render "form", form: %>
    <% end %>
  </div>
<% end %>  
